*.pyc
*.pyo

*.egg
skll.egg-info/
dist/
build/
__pycache__
doc/_build
build.sh

.DS_Store
.coverage
.idea

examples/train.csv
examples/test.csv
examples/*/dev
examples/*/test
examples/*/train
examples/*/train+dev
examples/*/output
