*.pyc
*.pyo

*.egg
skll.egg-info/
dist/
build/
__pycache__

.DS_Store
.coverage

tests/configs/test_cv_folds1.cfg
tests/configs/test_cv_folds2.cfg
tests/configs/test_predict.cfg
tests/configs/test_regression1.cfg
tests/configs/test_summary.cfg
tests/output/
tests/test/
tests/train/test_cv_folds1.csv
tests/train/test_cv_folds1.jsonlines
tests/train/test_regression1.jsonlines
tests/train/test_summary.jsonlines
tests/configs/test_sparse.cfg
tests/train/test_sparse.jsonlines
