*.pyc
*.pyo

*.egg
skll.egg-info/
dist/
build/
__pycache__

.DS_Store
.coverage

examples/train.csv
examples/test.csv
examples/*/dev
examples/*/test
examples/*/train
examples/*/train+dev
examples/*/output

tests/configs/test_cv_folds1.cfg
tests/configs/test_cv_folds2.cfg
tests/configs/test_predict.cfg
tests/configs/test_regression1.cfg
tests/configs/test_summary.cfg
tests/output
tests/test
tests/train/test_cv_folds1.csv
tests/train/test_cv_folds1.jsonlines
tests/train/test_regression1.jsonlines
tests/train/test_summary.jsonlines
tests/configs/test_sparse.cfg
tests/train/test_sparse.jsonlines
tests/train/test_merging
tests/train/test_cv_folds.*
tests/configs/test_ablation.cfg
tests/configs/test_ablation_feature_hasher.cfg
tests/configs/test_ablation_feature_hasher_sampler.cfg
tests/configs/test_ablation_sampler.cfg
tests/configs/test_class_map.cfg
tests/configs/test_class_map_feature_hasher.cfg
tests/configs/test_cv_folds1_feature_hasher_sampler.cfg
tests/configs/test_cv_folds1_sampler.cfg
tests/configs/test_cv_folds2_feature_hasher.cfg
tests/configs/test_cv_folds2_feature_hasher_sampler.cfg
tests/configs/test_cv_folds2_sampler.cfg
tests/configs/test_predict_feature_hasher.cfg
tests/configs/test_regression1_feature_hasher.cfg
tests/configs/test_scaling_with.cfg
tests/configs/test_scaling_with_feature_hasher.cfg
tests/configs/test_scaling_without.cfg
tests/configs/test_scaling_without_feature_hasher.cfg
tests/configs/test_single_file.cfg
tests/configs/test_sparse_feature_hasher.cfg
tests/configs/test_sparse_feature_hasher_sampler.cfg
tests/configs/test_sparse_sampler.cfg
tests/configs/test_summary_feature_hasher.cfg
tests/train/*.jsonlines
tests/train/test_conversion
