language: python
python:
  - 3.6
notifications:
  email: false
  slack:
    secure: d+NSaR+cfRkcJfX/uEVwdyQDlayZO6c8QV96grl1stmWxG3XOXvXg1tM6v7EBeb9VRw5T4VglnnJGNJA62j1ReEJ0XyWr5XtaNWiF6Lc4UOty/TTG36IQdkWS1vQA8v2Hre73YbvOhtBb6biNneVAk+rrfRSgomEa+ec22cjgUo=
env:
  - TESTFILES="tests/test_featureset.py tests/test_commandline_utils.py tests/test_custom_metrics.py"
  - TESTFILES="tests/test_output.py"
  - TESTFILES="tests/test_regression.py"
  - TESTFILES="tests/test_input.py tests/test_preprocessing.py tests/test_metrics.py tests/test_custom_learner.py tests/test_logging_utils.py tests/test_examples.py"
  - TESTFILES="tests/test_classification.py tests/test_cv.py tests/test_ablation.py"

# run on the new Travis infrastructure
sudo: false

# Install stuff
before_install:
  - wget http://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b
  - export PATH=/home/travis/miniconda3/bin:$PATH
  - conda install -c anaconda --yes setuptools
install:
  - conda install --yes -c conda-forge python=$TRAVIS_PYTHON_VERSION codecov --file conda_requirements.txt
  # Have to use pip for nose-cov because its entry points are not supported by conda yet
  - pip install nose-cov
  - python setup.py install

# Run test
script:
  - MPLBACKEND=Agg nosetests -v --with-cov --cov skll --cov-config .coveragerc --logging-level=DEBUG ${TESTFILES}

# Calculate coverage
after_success:
  - codecov

