language: python
python:
  - 2.7
  - 3.4
notifications:
  email: false
  slack: etsnlp:enaaoJ5hIyU9Zs7kRGT0ZSti

# run on the new Travis infrastructure
sudo: false

# Install stuff
before_install:
  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b
  - export PATH=/home/travis/miniconda2/bin:$PATH
  - conda config --add channels dan_blanchard
  - conda config --add channels desilinguist
  - conda update --yes conda
install:
  - conda install --yes python=$TRAVIS_PYTHON_VERSION nomkl numpy scipy beautiful-soup six scikit-learn==0.17.1 joblib prettytable python-coveralls pyyaml
  - if [ ${TRAVIS_PYTHON_VERSION:0:1} == "2" ]; then conda install --yes configparser logutils mock; fi
  # Have to use pip for nose-cov because its entry points are not supported by conda yet
  - pip install nose-cov
  - python setup.py install

# Run test
script:
  - nosetests -v --with-cov --cov skll --cov-config .coveragerc --logging-level=DEBUG

# Calculate coverage
after_success:
  - coveralls --config_file .coveragerc

