language: python
python:
  - 2.7
  - 3.3
env:
  - GRIDMAP=true
  - GRIDMAP=false
  - GRIDMAP=true SKLL_MAX_CONCURRENT_PROCESSES=1
  - GRIDMAP=false SKLL_MAX_CONCURRENT_PROCESSES=1
notifications:
  email: false

# Install stuff
before_install:
  - if [ $GRIDMAP == "true" ]; then travis/install_sge.sh; fi
  - export SGE_ROOT=/var/lib/gridengine
  - export SGE_CELL=default
  - export DRMAA_LIBRARY_PATH=/usr/lib/libdrmaa.so.1.0
  - export GRID_MAP_REDIS_PORT=12345
  - sudo mkdir /scratch/
  - sudo chmod 777 /scratch/
  - travis/miniconda.sh -b
  - export PATH=/home/travis/anaconda/bin:$PATH
  - conda update --yes conda
install:
  - conda install --yes pip python=$TRAVIS_PYTHON_VERSION atlas numpy scipy beautiful-soup six scikit-learn
  - if [ ${TRAVIS_PYTHON_VERSION:0:1} == "2" ]; then pip install --use-mirrors configparser; fi
  - pip install -r requirements.txt --use-mirrors
  - pip install python-coveralls --use-mirrors
  - pip install nose-cov --use-mirrors
  - if [ $GRIDMAP == "true" ]; then pip install --use-mirrors drmaa gridmap; fi
  - sudo rm -rf /dev/shm
  - sudo ln -s /run/shm /dev/shm
  - python setup.py install

# Run test
script:
  - nosetests --with-cov --cov skll --cov-config .coveragerc --logging-level=ERROR

# Calculate coverage
after_success:
  - coveralls --config_file .coveragerc
  - tail -n 1000 /home/travis/build/EducationalTestingService/skll/tests/output/*.e*
  - tail -n 1000 /home/travis/build/EducationalTestingService/skll/tests/output/*.o*

# Print out scratch job info if failed
after_failure:
  - tail -n 1000 /home/travis/build/EducationalTestingService/skll/tests/output/*.e*
  - tail -n 1000 /home/travis/build/EducationalTestingService/skll/tests/output/*.o*
