# Configuration file format
#
# [Input]
# train_location = Path to directory containing training data files. There must be a file for each featureset.
# test_location = Path to directory containing training data files. There must be a file for each featureset. If unspecified, cross-validation is performed.
# featuresets = List of prefixes for the files containing the features you would like to train/test on.
# classifiers = List of sklearn classifiers to try using. Acceptable values are 'logistic', 'svm_linear', 'svm_radial', 'naivebayes', 'dtree', 'rforest', and 'gradient'.
#               logistic = Logistic regression using LibLinear
#               svm_linear = SVM using LibLinear
#               svm_radial = SVM using LibSVM
#               naivebayes = Multinomial Naive Bayes
#               dtree = Decision Tree
#               rforest = Random Forest
#               gradient = Gradient Boosting
# suffix = The file format the training/test files are in. Valid option are '.tsv', '.megam', and '.jsonlines' (one complete JSON dict per line in the file).
#
# [Tuning]
# grid_search = Whether or not to perform grid search to find optimal parameters for classifier.
# objective = The objective function to use for tuning. Valid options are 'f1_score_micro' (micro-averaged f-score), 'f1_score_macro' (macro-averaged f-score), and 'accuracy'.
#
# [Output]
# probability = Whether or not to output probabilities for each class instead of the most probable class for each instance. Only really makes a difference when storing predictions.
# results = Directory to store result files in. If omitted, the current working directory is used, ***and we're assumed to just want to generate predictions if the test_location is specified.***
# log = Directory to store result files in. If omitted, the current working directory is used.
# models = Directory to store models in. Can be omitted to not store models.
# vocabs = Directory to store vocabs in. Can be omitted to not store vocabs.
# predictions = Directory to store prediction files in. Can be omitted to not store predictions.

[Input]
train_location=/home/nlp-text/dynamic/nmadnani/sentiment-analysis/features/sentiment-new/regular/expandedTrain
featuresets=['5.2-intsum', '5.2-intkbins']
classifiers=['rforest', 'svm_radial', 'svm_linear', 'logistic', 'naivebayes']
suffix=.tsv

[Tuning]
grid_search=True
objective=f1_score_micro

[Output]
probability=True
results=/home/research/dblanchard/sklearn_wrapper/results
log=/home/research/dblanchard/sklearn_wrapper/log
models=/home/research/dblanchard/sklearn_wrapper/models
vocabs=/home/research/dblanchard/sklearn_wrapper/expandedTrain
predictions=/home/research/dblanchard/sklearn_wrapper/predictions
